In [1]:
from tables.customer_dim import CustomerDimTable
import pandas as pd
from datetime import date, datetime

In [2]:
cust_dim = CustomerDimTable()

In [5]:
new_keys = pd.Series([1,3,5,7], name='customer_key')

In [7]:
new_keys

0    1
1    3
2    5
3    7
Name: customer_key, dtype: int64

In [59]:
# create an no-column df with new_keys as index

df = pd.DataFrame([], columns=['col1', 'col2'], index=new_keys)

In [60]:
df['snurk'] = 'abc'

In [23]:
df['snurk'] = 456

In [32]:
df[['snurk', 'lurk']] = ['a']

In [34]:
['a'] * 7

['a', 'a', 'a', 'a', 'a', 'a', 'a']

In [54]:
df_old_data = {'customer_id' : [1,2,3,4,5,6,7], 'smirk' : ['a'] * 7}
df_old = pd.DataFrame(df_old_data)

In [55]:
df_old.set_index('customer_id', drop=False, inplace=True)

In [56]:
df['pickle'] = df_old['customer_id']

In [49]:
df['kirk'] = df_old['smirk']

In [48]:
df_old['smirk'] = [2**i for i in range(1,8)]

In [57]:
df_old

             customer_id smirk
customer_id
1                      1     a
2                      2     a
3                      3     a
4                      4     a
5                      5     a
6                      6     a
7                      7     a

In [61]:
df

             col1 col2 snurk
customer_key
1             NaN  NaN   abc
3             NaN  NaN   abc
5             NaN  NaN   abc
7             NaN  NaN   abc

In [64]:
df.dtypes

col1     object
col2     object
snurk    object
dtype: object

In [65]:
dfd = df.astype({'col2' : 'string'})

In [66]:
dfd

             col1  col2 snurk
customer_key
1             NaN  <NA>   abc
3             NaN  <NA>   abc
5             NaN  <NA>   abc
7             NaN  <NA>   abc

In [67]:
df

             col1 col2 snurk
customer_key
1             NaN  NaN   abc
3             NaN  NaN   abc
5             NaN  NaN   abc
7             NaN  NaN   abc

In [68]:
df2 = df[['snurk']]

In [71]:
df2.iloc[0,0] = 'def'

/home/alan/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-71-464bfd1d11cd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.iloc[0,0] = 'def'

In [74]:
df2['snurk'] = 'jki'

<ipython-input-74-569c2408ac5e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['snurk'] = 'jki'

In [78]:
ser = df['snurk']

ser

In [79]:
DF

NameError: name 'DF' is not defined

In [82]:
s = df['snurk']

In [83]:
s

customer_key
1    abc
3    abc
5    abc
7    abc
Name: snurk, dtype: object

In [84]:
s[3] = 'pp'

In [85]:
s

customer_key
1    abc
3     pp
5    abc
7    abc
Name: snurk, dtype: object

In [90]:
df.index

Int64Index([1, 3, 5, 7], dtype='int64', name='customer_key')

In [96]:
t = df.loc[1:3]['snurk']

In [97]:
t

customer_key
1    abc
3     pp
Name: snurk, dtype: object

In [198]:
s1 = pd.Series(['xxx yyy zzz', 'aaa bbb ccc'])
s1.name = 'full'

In [199]:
def f1(s):
    return pd.Series(s.split(), index=['col1', 'col2', 'col3'])


s1

0    xxx yyy zzz
1    aaa bbb ccc
Name: full, dtype: object

In [200]:
s3 = s1.apply(f1)

In [201]:
df1 = pd.DataFrame(s1); df1.index=['a','b']

In [202]:
n = df1['full'].apply(f1)

In [203]:
df1['newc'] = n

ValueError: Wrong number of items passed 3, placement implies 1

In [167]:
s1 = s1.astype('int64')

ValueError: invalid literal for int() with base 10: 'xxx yyy zzz'

In [166]:
s1

0    xxx yyy zzz
1    aaa bbb ccc
dtype: object

In [157]:
df1 = pd.DataFrame(s1, columns=['my_col'], index=['a','b'])
df1.astype('string')

  my_col
a   <NA>
b   <NA>

In [156]:
df1

  my_col
a    NaN
b    NaN

In [139]:
df1['my_col'].apply(f1)

  col1 col2 col3
0  xxx  yyy  zzz
1  aaa  bbb  ccc

In [151]:
df1.append(df1['my_col'].apply(f1))

AttributeError: 'float' object has no attribute 'split'

In [129]:
df1.columns

Index(['my_col'], dtype='object')

In [3]:
a = "1 2 3".split()

In [4]:
a

['1', '2', '3']

In [5]:
d, e, f = a

In [6]:
d,e

('1', '2')